.container{
    display: flex;
    flex-flow: column wrap;
}
body{
    background-color: #314CB6;
}
.name{
    justify-content: center;
    align-content: center;
    margin: auto;
    color: white;
    font-size: 30px;
}
.quote{
  justify-content: center;
  align-content: center;
  margin: auto;
  color: white;
  font-size: 15px;
}
.search{
    justify-content: center;
    align-content: center;
    margin: auto;


}
.search input{
  height: 30px;
  width: 700px;
}
.button{
  font-size: 19px;
}
.button:active{
  transform: translateY(4px);
}
.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;

}

.box {
  background-color: #444;
  color: #;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
